@import "tailwindcss";

input[type="number"] {
  -moz-appearance: textfield;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none !important;
  appearance: none !important;
  margin: 0;
}

.calculator-house-input {
  appearance: none;
}

.calculator-house-input::-webkit-calendar-picker-indicator {
  display: none !important;
}
